body{
	background-color: #123456;
}

/*	I grabbed a color scheme, from http://colormind.io/, and
 *	used colors from that scheme to fill in the values here.
 *	Added in my h1
 */
h1{
	color: #0E8E8D;
}

p{
	color: #BED368;
}

/*
 *	Added the styling for the placeholders
 */

#placeholder{
	color: #E6E089;
}

#placeholder2{
	color: #0E8E8D;
}

#placeholder3{
	color: #042069;
}
